{% extends 'myauth/base.html' %}
{% load cache %}

{% block title %}
  About me
{% endblock %}

{% block body %}
  <h1>User info</h1>
  <div>
      Products available: {% now "u" %}
  </div>
  {% if user.is_authenticated %}
    {% cache 300 userinfo user.username %}

      {% if user.profile.avatar%}
        <img src="{{ user.profile.avatar.url}}" alt="{{user.profile.avatar.name}}">
      {% else %}
        No avatar yet
      {% endif %}

      {% if request.user.is_staff or request.user.pk == user.pk %}
        <a href="{% url 'myauth:user_update' pk=user.profile.pk %}"
        ><h3>Update avatar</h3></a>
      {% endif %}

      <h2>Detail</h2>
      <p>Username: {{ user.username }}</p>
      <p>First name: {{ user.first_name }}</p>
      <p>Last name: {{ user.last_name }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Bio: {{ user.profile.bio }}</p>
    {% endcache %}
  {% else %}
    <h2>User is anonymous</h2>
  {% endif %}
{% endblock %}